@CHARSET "UTF-8";

.container{
	
}
.footer{
	bottom: 0;
	position: fixed;
	width:100%;
}
.item_on .weui-tabbar__icon>i, .item_on .weui-tabbar__label{
	color: #e6454a;
}


.item-off{
	display: none;
}
.loading-font{
	
}
