@CHARSET "UTF-8";
html, body{
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
}
.header h1{
	text-align: center; 
	color:#e6454a;
}
.btn-login-box{
	padding: 20px 10px 0 10px;
}
.tips-box a{
	color: red;
}
.bg-success{
	background-color: #3cc51f;
}
.btn-get-code{
	color: #e6454a;
}
.btn-login{	
	border: 1px solid #e6454a;
	color: #e6454a;
}