@CHARSET "UTF-8";
.vip-card-box{
	padding: 16px 14px 0 14px;
}

.card-box{
	height: 100px;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 10px 15px 0 15px;
	margin-bottom: 15px;
}
.one-line-box{
	display: block;
	height: 25px;
}
.card-name-box{
	float: left;
	font-size: 16px;
	font-weight: bold;
}
.price-box{
	float:right;
	color: #e6454a;
	font-size: 14px;
}
.two-line-box{
	display: block;
	margin-top: 3px;
	color: #e6454a;
	font-size: 14px;
}
.three-line-box{
	margin-top: 8px;
}
.detail-box{
	float: left;
}
.buy-box{
	float: right;
}
.bottom-box{
	margin-top: 50px;
	text-align: center;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
	position: relative;
}
.bottom-text-box{
	font-size: 12px;
	color: rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;	
}

.bottom-text-box:before{
	content: "\00A0\00A0\00A0";
}
.bottom-text-box:after{
	content: "\00A0\00A0\00A0";
}